<p-dialog
  [(visible)]="visibleModel"
  [modal]="true"
  [header]="'sellerCreateDialog.header' | translate"
  [style]="{ width: '940px', maxWidth: '90vw' }"
>
  <div class="panel-block">
    <div class="panel-block__title">{{ 'sellerCreateDialog.sectionPersonal' | translate }}</div>
    <p-fluid>
    <div class="form-grid">
      <div>
        <label for="create-first-name">{{ 'sellerCreateDialog.firstName' | translate }}</label>
        <input id="create-first-name" pInputText [pAutoFocus]="true" [(ngModel)]="firstNameModel" />
      </div>
      <div>
        <label for="create-last-name">{{ 'sellerCreateDialog.lastName' | translate }}</label>
        <input id="create-last-name" pInputText [(ngModel)]="lastNameModel" />
      </div>
    </div>
    </p-fluid>
  </div>

  <div class="panel-block">
    <div class="panel-block__title">{{ 'sellerCreateDialog.sectionContact' | translate }}</div>
    <p-fluid>
    <div class="form-grid">
      <div class="full">
        <label for="create-address">{{ 'sellerCreateDialog.address' | translate }}</label>
        <input id="create-address" pInputText [(ngModel)]="addressModel" />
      </div>
      <div>
        <label for="create-postal-code">{{ 'sellerCreateDialog.postalCode' | translate }}</label>
        <input id="create-postal-code" pInputText [(ngModel)]="postalCodeModel" />
      </div>
      <div>
        <label for="create-city">{{ 'sellerCreateDialog.city' | translate }}</label>
        <input id="create-city" pInputText [(ngModel)]="cityModel" />
      </div>
      <div>
        <label for="create-phone">{{ 'sellerCreateDialog.phone' | translate }}</label>
        <input id="create-phone" pInputText [(ngModel)]="phoneModel" />
      </div>
      <div>
        <label for="create-email">{{ 'sellerCreateDialog.email' | translate }}</label>
        <input id="create-email" pInputText type="email" [(ngModel)]="emailModel" />
      </div>
    </div>
    </p-fluid>
  </div>

  <div class="panel-block">
    <div class="panel-block__title">{{ 'sellerCreateDialog.sectionConditions' | translate }}</div>
    <div class="conditions-row">
      <p-fluid>
        <div>
          <label for="create-seller-type">{{ 'sellerCreateDialog.sellerType' | translate }}</label>
          <p-select
            id="create-seller-type"
            [options]="sellerTypes()"
            optionLabel="name"
            optionValue="id"
            [(ngModel)]="sellerTypeIdModel"
          />
        </div>
      </p-fluid>
      @if (selectedType(); as type) {
        <p class="conditions-row__summary">{{ 'sellerCreateDialog.conditionsSummary' | translate: { commissionRate: type.commissionRate, itemFee: type.itemFee } }}</p>
      }
    </div>
  </div>

  <div class="panel-block">
    <div class="panel-block__title">{{ 'sellerCreateDialog.sectionNumberBlock' | translate }}</div>
    <p-fluid>
    <div class="form-grid">
      <div>
        <label for="create-start-number">{{ 'sellerCreateDialog.startNumber' | translate }}</label>
        <p-inputnumber id="create-start-number" [useGrouping]="false" [(ngModel)]="startNumberModel" />
      </div>
      <div>
        <label for="create-block-count">{{ 'sellerCreateDialog.initialBlockCount' | translate }}</label>
        <p-inputnumber id="create-block-count" [useGrouping]="false" [(ngModel)]="blockCountModel" />
      </div>
    </div>
    </p-fluid>
  </div>

  @if (formError(); as error) {
    <app-info-area type="error" [message]="error" />
  }

  <ng-template #footer>
    <div class="footer">
      <button pButton type="button" [text]="true" severity="secondary" (click)="cancel()">{{ 'common.cancel' | translate }}</button>
      <button pButton type="button" [disabled]="!canSubmit()" (click)="submit()">{{ 'common.save' | translate }}</button>
    </div>
  </ng-template>
</p-dialog>
